[user]
	name = JefferCreq
	email = jefferson.castro@pucp.edu.pe
[alias]
	lg = log --oneline --decorate --all --graph
	s = status -sb
	cm = commit -m
[credential]
	helper = store
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
